/* Steelbore GTK Theme Definition */

@define-color accent_color #4B7EB0;
@define-color accent_bg_color #4B7EB0;
@define-color accent_fg_color #000027;

@define-color destructive_color #FF5C5C;
@define-color destructive_bg_color #FF5C5C;
@define-color destructive_fg_color #000027;

@define-color success_color #50FA7B;
@define-color success_bg_color #50FA7B;
@define-color success_fg_color #000027;

@define-color warning_color #D98E32;
@define-color warning_bg_color #D98E32;
@define-color warning_fg_color #000027;

@define-color error_color #FF5C5C;
@define-color error_bg_color #FF5C5C;
@define-color error_fg_color #000027;

@define-color window_bg_color #000027;
@define-color window_fg_color #D98E32;

@define-color view_bg_color #000027;
@define-color view_fg_color #D98E32;

@define-color headerbar_bg_color #050530;
@define-color headerbar_fg_color #D98E32;
@define-color headerbar_border_color #4B7EB0;
@define-color headerbar_backdrop_color #000027;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

@define-color card_bg_color #050530;
@define-color card_fg_color #D98E32;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

@define-color popover_bg_color #050530;
@define-color popover_fg_color #D98E32;

@define-color dialog_bg_color #050530;
@define-color dialog_fg_color #D98E32;